.landing-page-header-bar {
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    height: 6rem;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    position: fixed;
    z-index: 1;

    .header-breadcrumb {
        width: fit-content;
        float: left;
        font-size: 1rem;
        padding-top: 2rem;
    }

    .custom-login-button,
    .custom-register-button {
        width: 10rem;
        height: 3rem;
    }
}

.register-popup-container {
    .custom-register-modal {
        top: 3rem;
        float: right;

        .ant-modal-content {
            background-color: #F2F2F2;
        }
    }

    .register-basic-form {
        .ant-form-item {
            margin-bottom: 0.5rem;
        }
    }
}