.otp-modal {
    .custom-otp-modal {
        .ant-modal-content {
            width: 24em;
    
            .ant-modal-header {
                padding-bottom: 0;
                border: none;
            }
    
            .ant-modal-body {
                padding-top: 0;
    
                .custom-color-change {
                    color: #cacaca !important;
                    
                    .ant-statistic-content-value {
                        color: #cacaca !important;
                        font-size: initial;
                        padding-bottom: 0.5em;
                    }
                }

                .add-margin-bottom {
                    margin-bottom: 0.5em;
                }

                .confirm-otp-modal-warning {
                    background-color: #f0f0f0;
                    border-color: #d9d9d9;
                }
            }
        }
    }
}