$col-shade-green: #12805c;
$col-shade-error: #e90000;

.buyer-ui-app {
    .landing-page-header-bar {
        position: unset;

        .header-breadcrumb {
            display: none;
        }
    }

    .buyer-ui-dashboard {
        padding: 2em;

        .buyer-banner {
            width: 100%;
        }
    }

    .add-produce-btn {
        width: 280px;
        height: 52px;
        font-weight: 500;
        font-size: 18px;
    }
}

.add-produce-modal .ant-modal-content {
    padding: 2em !important;
}

.custom-masterlist-modal {
    .ant-modal-header {
        padding: 16px 0;
        margin: 0 24px;
        border-bottom: 0.25em solid $col-shade-green;
    }

    .ant-modal-close-x {
        color: black;
        font-size: 24px;
    }

    .custom-list {
        border: 0.1em solid $col-shade-green;
        padding-bottom: 0.5em;
        min-height: 80px;

        .ant-typography {
            width: inherit;
            background-color: $col-shade-green;
            color: white;
            border-color: $col-shade-green;
            text-align: center;
            font-weight: normal;
        }

        .produce-scroll-bar {
            overflow-y: scroll;
        }

        .custom-search {
            width: 70%;
            padding-left: 0.5em;
            padding-bottom: 0.5em;

            .ant-input-group > .ant-input:first-child {
                border-radius: 0.3em;
                font-size: smaller;
            }
        }

        .ant-list-item {
            padding: 0 1em;

            .anticon-caret-right {
                float: right;
                margin-top: 3px;
                color: #c1c1c1;
            }
        }

        .produce-list-item:hover,
        .variety-list-item:hover {
            background-color: #fce3ba;
            border-left: 0.5em solid #f5a31a;
            cursor: pointer;
            .anticon-caret-right {
                color: black;
            }
        }

        .selected-produce-item,
        .selected-variety-item {
            background-color: #fce3ba;
            border-left: 0.5em solid #f5a31a;

            .anticon-caret-right {
                color: black;
            }
        }

        .selected-grade-item {
            background-color: #fce3ba;

            .ant-list-item-action {
                margin: 0;
            }
        }
    }

    .selected-grade-item {
        background-color: #fce3ba;

        .ant-list-item-action {
            margin: 0;
        }
    }

    .ant-input-group-addon {
        display: none;
    }

    .ant-table-wrapper {
        width: 100%;
    }

    th.ant-table-cell {
        text-align: center;
        background-color: $col-shade-green;
        color: white;
        padding: 0 16px;
    }

    td.ant-table-cell {
        padding: 0 16px;
    }
}

.match-success-modal {
    .ant-modal-confirm-title {
        text-align: center;
    }

    .ant-modal-confirm-btns {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .match-success-icon {
        font-size: 41px;
        color: $col-shade-green;
    }

    .match-error-icon {
        font-size: 41px;
        color: $col-shade-error;
    }

    .modal-info-text {
        text-align: center;
        font-weight: bold;
        margin-bottom: unset;
    }
}

.partial-match {
    font-size: smaller;
    background-color: #f5a31a;
    color: white !important;
    border-radius: 0.5em;
    padding: 0 0.3em;
}

.full-match {
    font-size: smaller;
    background-color: $col-shade-green;
    color: white !important;
    border-radius: 0.5em;
    padding: 0 0.3em;
}

.pay-retry {
    background-color: #f5a31a !important;
    border-color: #f5a31a !important;
    border-radius: 3px;
}

.heading-alerttext {
    color: $col-shade-error !important;
}

.on-reload-matches {
    font-size: x-large;
    float: right;
}

.custom-color-change {
    color: #cacaca !important;
    
    .ant-statistic-content-value {
        color: #cacaca !important;
        font-size: initial;
        padding-bottom: 0.5em;
    }
}

.ant-steps-item-finish {
    .ant-steps-item-container{
        .ant-steps-item-tail::after {
            background-color: #12805c;
        }
        .ant-steps-item-subtitle {
            color: green;
        }
        .ant-steps-item-icon {
            border-color: green !important;
            .ant-steps-icon {
                color: green !important;
            }
        }
    }
}

.ant-steps-item-process {
    .ant-steps-item-container {
        .ant-steps-item-tail::after {
            background-color: orange;
        }
        .ant-steps-item-icon {
            background-color: green !important;
            border-color: green !important;
            .ant-steps-icon {
                color: white;
            }
        }
    }
}

.ant-steps-item-wait {
    .ant-steps-item-container {
        .ant-steps-item-tail::after {
            background-color: orange;
        }
    .ant-steps-item-icon {
        background-color: orange !important;
        border-color: orange !important;
        .ant-steps-icon {
            color: white;
        }
    }
    }
}

.welcome-modal {
    text-align: center;

    .dear-name-text {
        margin-bottom: 0%;
        font-weight: 500;
    }

    .welcome-text {
        font-size: 2rem;
        font-weight: 700;
        width: 20rem;
        margin: 0 auto;
    }
    
    h3.ant-typography {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .welcome-explore {
        width: 12rem;
        margin-top: 1rem;
        font-weight: 500;
    }
}