$col-shade-green: #12805c;
$col-shade-error: #e90000;

.buyer-ui-app {
    .landing-page-header-bar {
        position: unset;

        .header-breadcrumb {
            display: none;
        }
    }

    .buyer-ui-dashboard {
        position: relative;
        top:-100px;
        padding: 2em;

        .buyer-banner {
            width: 100%;
        }
    }

    .add-produce-btn {
        width: 280px;
        height: 52px;
        font-weight: 500;
        font-size: 18px;
    }

    .app-footer-container {
        position: relative;
        top:0px;
    }
}

.add-produce-modal .ant-modal-content {
    padding: 2em !important;
}

.custom-masterlist-modal {
    .ant-modal-header {
        padding: 16px 0;
        margin: 0 24px;
        border-bottom: 0.25em solid $col-shade-green;
    }

    .ant-modal-close-x {
        color: black;
        font-size: 24px;
    }

    .custom-list {
        border: 0.1em solid $col-shade-green;
        padding-bottom: 0.5em;
        min-height: 80px;

        .ant-typography {
            width: inherit;
            background-color: $col-shade-green;
            color: white;
            border-color: $col-shade-green;
            text-align: center;
            font-weight: normal;
        }

        .produce-scroll-bar {
            overflow-y: scroll;
        }

        .custom-search {
            width: 70%;
            padding-left: 0.5em;
            padding-bottom: 0.5em;

            .ant-input-group > .ant-input:first-child {
                border-radius: 0.3em;
                font-size: smaller;
            }
        }

        .ant-list-item {
            padding: 0 1em;

            .anticon-caret-right {
                float: right;
                margin-top: 3px;
                color: #c1c1c1;
            }
        }

        .produce-list-item:hover,
        .variety-list-item:hover {
            background-color: #fce3ba;
            border-left: 0.5em solid #f5a31a;
            cursor: pointer;
            .anticon-caret-right {
                color: black;
            }
        }

        .selected-produce-item,
        .selected-variety-item {
            background-color: #fce3ba;
            border-left: 0.5em solid #f5a31a;

            .anticon-caret-right {
                color: black;
            }
        }

        .selected-grade-item {
            background-color: #fce3ba;

            .ant-list-item-action {
                margin: 0;
            }
        }
    }

    .selected-grade-item {
        background-color: #fce3ba;

        .ant-list-item-action {
            margin: 0;
        }
    }

    .ant-input-group-addon {
        display: none;
    }

    .ant-table-wrapper {
        width: 100%;
    }

    th.ant-table-cell {
        text-align: center;
        background-color: $col-shade-green;
        color: white;
        padding: 0 16px;
    }

    td.ant-table-cell {
        padding: 0 16px;
    }
}

.match-success-modal {
    .ant-modal-confirm-title {
        text-align: center;
    }

    .ant-modal-confirm-btns {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .match-success-icon {
        font-size: 41px;
        color: $col-shade-green;
    }

    .match-error-icon {
        font-size: 41px;
        color: $col-shade-error;
    }

    .modal-info-text {
        text-align: center;
        font-weight: bold;
        margin-bottom: unset;
    }
}

.partial-match {
    font-size: smaller;
    background-color: #f5a31a;
    color: white !important;
    border-radius: 0.5em;
    padding: 0 0.3em;
}

.full-match {
    font-size: smaller;
    background-color: $col-shade-green;
    color: white !important;
    border-radius: 0.5em;
    padding: 0 0.3em;
}

.pay-retry {
    background-color: #f5a31a !important;
    border-color: #f5a31a !important;
    border-radius: 3px;
}

.heading-alerttext {
    color: $col-shade-error !important;
}

.custom-color-change {
    color: #cacaca !important;
    
    .ant-statistic-content-value {
        color: #cacaca !important;
        font-size: initial;
        padding-bottom: 0.5em;
    }
}

.ant-steps-item-finish {
    .ant-steps-item-container{
        .ant-steps-item-tail::after {
            background-color: #12805c;
        }
        .ant-steps-item-subtitle {
            color: green;
        }
        .ant-steps-item-icon {
            border-color: green !important;
            .ant-steps-icon {
                color: green !important;
            }
        }
    }
}

.ant-steps-item-process {
    .ant-steps-item-container {
        .ant-steps-item-tail::after {
            background-color: orange;
        }
        .ant-steps-item-icon {
            background-color: green !important;
            border-color: green !important;
            .ant-steps-icon {
                color: white;
            }
        }
    }
}

.ant-steps-item-wait {
    .ant-steps-item-container {
        .ant-steps-item-tail::after {
            background-color: orange;
        }
    .ant-steps-item-icon {
        background-color: orange !important;
        border-color: orange !important;
        .ant-steps-icon {
            color: white;
        }
    }
    }
}

.transaction-timeline {
    margin-top: 2rem;

    .ant-timeline-item-label {
        text-align: center !important;
    }

    .ant-timeline-item-content {
        width: 300% !important;
    }

    .ant-timeline-item-head {
        font-size: large !important;
    }

    .is-complete {
        .ant-timeline-item-tail {
            border-left: 2px solid #000000 !important;
        }
    }

    .is-pending {
        .ant-timeline-item-tail {
            border-left: 2px dotted #000000 !important;
        }
    }
}

.table-crop-image {
    width: 5rem !important;
}

.matches-table {
    .ant-table-row-level-1 {
        background-color: #fff8de;
        line-height: 1 !important;
        font-size: small;

        .more-matches-text {
            margin-left: 6vw;
        }
    }    
}

.transaction-on-going-table {
    .ant-table-row-expand-icon-cell {
        padding-left: 0;
        text-align: start !important;
    }
}

.payment-custom-input{
    cursor: not-allowed;
    border: 0px solid #fafafa;
}

div.ant-modal.payment-modal{
    .ant-modal-content{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 466px;
        resize: auto !important;
        .payment-title{
            width: 450px;
            height: 44px;
            position: relative;
            top: -24px;
            margin-top: 11px ;
            background-color: #F2F2F2;
            color: #12805C;
            font-size: 16px;
            font-weight: 500;
            left: -16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;

            .payment-title-text{
                margin-left: 12px;
                color: green;
                width: 219px;
                height: 19px;
            }
        }
       .site-collapse-custom-collapse{
        display: flex;
        flex-direction: row;
        position: relative;
        top: -30px;
        width: 300px;
           .site-collapse-custom-panel{
               display: flex;
               flex-direction: column;
               border: none;
               width: 400px;
               justify-content: start;
               background-color: white;
            .anticon svg {
                position: relative;
                top: -3px;
                left: 100px;
            }
               &::after{
                position: relative;
                top: -65px;
                width: 426;
                content:url('../static/assets/Line 40.png')
            }
            .trade-summary-header{
                position: relative;
                top: -25px;
                left: -15px;
                width: 113px;
                margin-left: -5px;
                display: flex;
                justify-self: start;
                align-items: center;
                background-color: white;
    
                .trade-summary-title{
                    width: 113px;
                    color: black;
                    font-weight: 500;
                    font-size: 16px;
                }
           }
        }
        .trade-summary-row{
            width:500px;
            position: relative;
            top: -50px;
            left: -15px;
            line-height: 19px;
            // background-color:orange;
            div.ant-col.ant-col-6,div.ant-col.ant-col-18{
                font-weight: 400;
                font-size: 16px;
                font-style: normal;
                color: #4E4E4E;
                span.ant-typography.inner-text{
                    line-height: 20px;
                }

                .payment{
                    padding: 0px;
                    line-height: 26px;
                    margin-bottom: -10px;
                    .payment-custom-input{
                        height: 18px;
                        padding: 0px;
                        margin: 0px;
                        font-size: 16px;
                    }
                }
            }
           
        }
    }
    .payment-summary{
        position: relative;
        top: -89px;
        width: 450px;
        height: 19px;
        font-style: normal;
.paymentsummarytext{
    position: relative;
    top: -25px;
    color: green;
    font-weight: 500;
    font-size: 16px;
}
    }
    .payment-summary-row{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        top: -91px;
        // background-color: green;
        .ant-col-24.pay-amount{
            position: relative;
            top: 20px;
            .payment-amount{
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
            }
            .amount{
                position: relative;
                left:80px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
            }
        }
        .ant-col-24.mode-column{
            // background-color:orange
            .mode-of-payment{
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
            }
            div.ant-select-selector{
                position: relative;
                left: 25px;
                width: 260px;
                height: 36px;
                border-radius: 3px;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
            }
            img{
                position:relative;
                z-index: 4;
                left: 260px;
            }
        }
    }
    .payment-btn-block{
            position: absolute;
            top: 100px;
            left: 137px;
        .pay-button-btn {
            background: #12805C;
            border-radius: 3px;
            border: none;
            width: 165px;
            height: 40px;
            color: #FFFFFF;
        }
    }
    .payment-btn-block-position{
        position: relative;
        top: 100px;
        left: 145px;
        .pay-btn-width{
            width: 103px;
            height: 38.11px;
            background: #12805C;
            color: #FFFFFF;
            border-radius: 3px;
            border:none;
        }
    }
  
       }
        
    div.ant-modal-footer{
        display: flex;
        justify-content: center;
        button.ant-btn{
            border: none;
            color: grey;
        }
        .ant-btn-primary{
            color: blue;
        }
    }
}

.checkDraftSection{
    position: relative;
    top: 20px;

    .ant-form-item-label > label{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
    }
    .ant-input{
        width: 260px;
        height: 36px;
        border: 1px solid #888888;
        box-sizing: border-box;
        border-radius: 3px;
}

}

.other-btn-section{
    position: relative;
    top: 30px;
    left: 100px;
    .other-btn-save{
        width: 103px;
        height: 40px;
        background: #12805C;
        border-radius: 3px;
        font-weight: 400;
        font-size: 14px;
        color: white;
        }
        .other-btn-cancel{
            border: none;
        }
}

.doc-upload-required{
    .other-upload{
        width: 148px;
        background: #FFFFFF;
        border: 1px solid #4285F4;
        box-sizing: border-box;
        border-radius: 3px;
        color: #4285F4;
        font-weight: 400;
        font-size: 13px;

    }
    label.ant-form-item-required{
&::after{
    position: relative;
    top: 5px;
    content: url('../static/assets/Vector.png')
}
    }
}

.pay-button-position{
    position: relative;
    left: -20px;
}