.main-content {
    width: 100%;
    position: absolute;
    height: calc(100% - 70px);
}

.main-content-banner {
    position: relative;
    bottom: 20em;
    left: 10em;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 50%;
    padding: 2em;
}

/*flex-classes*/
.display-flex-row {
    display: flex;
    flex-direction: row;
    
    &.align-center {
        align-items: center;
    }
}

/*Margin and padding classes*/
.margin-l-r-1em {
    margin-left: 1em;
    margin-right: 1em;
}

.terms-and-conditions {
    margin: 0 0.3em;
}

/*width classes*/
.width-full {
    width: 100%
}
.wid150{
    width: 150px;
}

/*border radius*/
.vikas-btn-radius {
    border-radius: 3px
}

/* Color classes*/
.col-white {
    color: white !important;
}