.main-content {
    background: url('./static/assets/landing_img.jpg') no-repeat center center;
    width: 100%;
    height: calc(100% - 70px);
}

.main-content-banner {
    position: fixed;
    bottom: 1em;
    left: 2em;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 50%;
    padding: 2em;
}

/*flex-classes*/
.display-flex-row {
    display: flex;
    flex-direction: row;
    
    &.align-center {
        align-items: center;
    }
}

/*Margin and padding classes*/
.margin-l-r-1em {
    margin-left: 1em;
    margin-right: 1em;
}

.terms-and-conditions {
    margin: 0 0.3em;
}

/*width classes*/
.width-full {
    width: 100%
}

/*border radius*/
.vikas-btn-radius {
    border-radius: 3px
}