.entity-details-container {
    padding: 2em;

    .full-time-checkbox {
        margin: 0 2em !important;
    } // Now present as inline style
}

.otp-modal {
    .ant-input-number-handler-wrap {
        display: none;
    }
}

.register-seller,
.register-buyer {

    .landing-page-header-bar {
        position: unset;

        .header-breadcrumb {
            display: none;
        }
    }

}