.entity-details-container {
    position: relative;
    top:-80px;
    margin-top:0px;
    padding: 2em;

    .full-time-checkbox {
        margin: 0 2em !important;
    } // Now present as inline style
}

.otp-modal {
    .ant-input-number-handler-wrap {
        display: none;
    }
}

.register {
    .landing-page-header-bar {
        position: unset;


        .header-breadcrumb {
            display: none;
        }
    }

}

.form-item-60 {
    display: inline-block;
    width: 60%;
}
