$col-shade-green: #12805C;

.col-green {
    color: $col-shade-green !important;
}

#home {
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-origin: padding-box;
    scroll-margin: 6rem;
    z-index: 1;
    opacity: 1;

    .home-content-wrapper {
        position: relative;
        top: 6rem;
        height: 105.25vh;
        margin-bottom: 1rem;
        
        .animate-alert {
            animation: warning-banner 30s infinite 20s;
            width: fit-content;
        }

        @keyframes warning-banner {
            0% {left: 0%}
            50% {left: 40%}
            100% {left: 0%}
        }

        .home-content {
            position: absolute;
            left: 5rem;
            top: 6rem;
            width: fit-content;
            height: fit-content;
            padding: 2rem;
            -webkit-backdrop-filter: blur(1.25rem);
            backdrop-filter: blur(1.25rem);
            border-radius: 0.5rem;
            background-color: rgba($color: #000000, $alpha: 0.2);
        }

    // Kannada Styling
        .home-content-kn {
            position: absolute;
            left: 5rem;
            top: 6rem;
            width: fit-content;
            height: fit-content;
            padding: 2rem;
            -webkit-backdrop-filter: blur(1.25rem);
            backdrop-filter: blur(1.25rem);
            border-radius: 0.5rem;
            background-color: rgba($color: #000000, $alpha: 0.2);
        }
    
        .logo {
            border-radius: 0.5rem;
        }
            
        .home-paragraph {
            margin-top: 2rem;
    
            .margin-none {
                margin: 0;
            }
        }
    
        .explore-vb-btn {
            background-color: #f5a31a !important;
            border-color: #f5a31a !important;
            border-radius: 0.2rem;
            margin: 1rem 0;
        }
    }
}

.fixed-landing-page-banner {
    float: left;
    position: sticky;
    top: 6rem;
    opacity: 1;
    width: 17rem;
}

.fixed-card-join {
    position: sticky;
    float: right;
    top: 15rem;
    opacity: 1;

    .join-us {
        width: fit-content;
        height: fit-content;
        background-color: white;
        border-radius: 0.2rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        opacity: 1;
        padding: 0;
        margin-right: 1rem;
        
        .fixed-title {
            font-size: x-large;
            width: 10rem;
            margin: 0;
        }

    // Kannada Styling
        .fixed-title-kn {
            font-size: large;
            width: 10rem;
            margin: 0;
        }

        .join-us-reg {
            width: 10rem;
            height: 3rem;
            font-size: large;
        }
    }
}

#aim {
    scroll-margin: 6rem;

    .aim-title {
        padding-top: 1rem;
        font-size: 3rem;
        margin-left: 18rem;
    }

    // Kannada Styling
    .aim-title-kn {
        padding-top: 1rem;
        font-size: 2rem;
        margin-left: 18rem;
    }

    .handshake-image {
        float: right;
        position: relative;
        bottom: 5rem;
        left: 2rem;
    }
    
    .aim-card-row {
        
        .aim-card {
            background-color: $col-shade-green;
            width: 12.5rem;
            border-radius: 0.5rem;
            height: 14rem;
            border-radius: 0.2rem;
            display: inline-flex;
            margin: 1rem auto;
            text-align: center;
            font-size: large;
            line-height: 1;
        }

    // Kannada Styling
        .aim-card-kn {
            background-color: $col-shade-green;
            width: 12.5rem;
            border-radius: 0.5rem;
            height: 14rem;
            border-radius: 0.2rem;
            display: inline-flex;
            margin: 1rem auto;
            text-align: center;
            font-size: small;
            line-height: 1;
        }
            
        .hex1 {
            width: 0;
            margin: 0 auto;
            border-radius: 0.3rem;
            margin-top: 1rem;
            border-bottom: 1.5rem solid #32886C;
            border-left: 2.5rem solid transparent;
            border-right: 2.5rem solid transparent;
        }
            
        .hex2 {
            margin: 0 auto;
            width: 4.78rem;
            height: 2.5rem;
            background-color: #32886C;

            .icon-inside-hex {
                height: 3rem;
            }
        }
            
        .hex3 {
            margin: 0 auto;
            border-radius: 0.3rem;
            margin-bottom: 1rem;
            width: 0;
            border-top: 1.5rem solid #32886C;
            border-left: 2.5rem solid transparent;
            border-right: 2.5rem solid transparent;
        }
    }

    // Kannada Styling
    .aim-video-link-kn {
        font-size: 1rem;
        margin: 0 5rem;
    }

    .aim-video-link {
        font-size: 1.2rem;
        margin: 0 6rem;
    }
}

#ecosystem {
    scroll-margin: 6rem;

    .tractor-image {
        padding-top: 0.5rem;
        width: 30rem;
        margin: 0 auto;
    }

    .bulletin-image {
        float: left;
        padding: 1rem 1rem;
        background-color: #e2e8d5;
        border-radius: 3rem;
        margin-bottom: 1.5rem;

        img {
            font-size: large;
        }
    }

    .nature-image {
        float: right;
        position: relative;
        bottom: 10rem;
        right: 2rem;
    }

    // Kannada Styling
    .ecosystem-content-kn {
        color: #12805C !important;
        background-color: #e0efea;
        width: 50rem;
        border-radius: 0.3rem;
        height: fit-content;
        margin: 0 auto;
        margin-bottom: 1rem;
        padding-left: 2rem;
        
        .ecosystem-title-kn {
            padding-top: 1rem;
            padding-right: 1rem;
            margin-top: 0;
            font-size: 2rem;
        }

        .bulletin-text-kn {
            padding-top: 1rem;
            padding-left: 1rem;
            font-size: 1rem;
            line-height: 1.7rem;
        }
    }

    .ecosystem-content {
        color: #12805C !important;
        background-color: #e0efea;
        width: 50rem;
        border-radius: 0.3rem;
        height: fit-content;
        margin: 0 auto;
        margin-bottom: 1rem;
        padding-left: 2rem;
        
        .ecosystem-title {
            padding-top: 1rem;
            padding-right: 1rem;
            margin-top: 0;
            font-size: 2rem;
        }

        .bulletin-text {
            padding-top: 1rem;
            padding-left: 1rem;
            font-size: 1.5rem;
            line-height: 1.7rem;
        }
    }
}

#commodities {
    margin-left: 17rem;
    scroll-margin: 6rem;
    
    // Kannada Styling
    .commodities-title-kn {
        font-size: 2rem;
    }

    .commodities-title {
        font-size: 2.5rem;
    }

    // Kannada Styling
    .commodities-paragraph-kn {
        width: 50rem;
        font-size: 1rem;
        line-height: 2rem;
    }

    .commodities-paragraph {
        width: 50rem;
        font-size: 1rem;
        line-height: 2rem;
    }

    .commodities-list {
        float: left;
        width: 10rem;
        margin-top: 1.5rem;
    }

    .commodities-name {
        font-size: large;
    }

    .commodities-image {
        width: 9rem;
        height: 10rem;
    }

    .wheat-image {
        margin: 2rem auto;
        width: 50rem;
    }
}

#users {
    scroll-margin: 6rem;
    
    // Kannada Styling
    .user-title-kn {
        padding-top: 1rem;
        font-size: 2rem;
        margin-left: 30rem;
    }

    .user-title {
        padding-top: 1rem;
        font-size: 3rem;
        margin-left: 30rem;
    }

    .user-column {
        margin-left: 3rem;
        
        // Kannada Styling
        .user-card-kn {
            background-color: #e0efea;
            width: fit-content;
            font-size: 1rem;
            height: 26rem;
            text-align: center;
        }

        .user-card {
            background-color: #e0efea;
            width: fit-content;
            font-size: 1rem;
            height: 26rem;
            text-align: center;
        }
    }

    // Kannada Styling
    .card-subtitle-kn{
        font-size: 1rem;
    }

    // Kannada Styling
    .card-text-kn{
        font-size: 0.9rem;
    }

    .card-text{
        font-size: 1rem;
    }

    .transport-image {
        margin: 2rem 16rem;
        width: 50rem;
    }
}

.about-us-video-modal {
    .ant-modal-body {
        height: 80vh;
    }
}

#aboutUs {
    margin: 2.5rem 0;
    margin-left: 16rem;
    width: 53rem;
    height: 48rem;
    scroll-margin: 6rem;
    padding: 1rem 2rem;
    background-color: #fbfbfb;
    
    // Kannada Styling
    .about-us-title-kn {
        padding-top: 1rem;
        font-size: 2rem;
    }

    .about-us-title {
        padding-top: 1rem;
        font-size: 3rem;
    }

    .outline-image {
        position: relative;
        bottom: 5rem;
        left: 39rem;
    }

    // Kannada Styling
    .outline-paragraph-kn {
        position: relative;
        bottom: 10rem;
        font-size: 1rem;
        width: 40rem;
    }

    .outline-paragraph {
        position: relative;
        bottom: 10rem;
        font-size: large;
        width: 40rem;
    }

    .vision-card{
        width: fit-content;
        height: 17rem;
        bottom: 10rem;
        position: relative;
        background-color: #e0efea;
        text-align: center;

        // Kannada Styling
        .card-paragraph-kn {
            width: 18rem;
            font-size: 1rem;   
            margin: 0 auto;
        }

        .card-paragraph {
            width: 18rem;
            font-size: large;   
            margin: 0 auto;
        }
    }

    .vision-div {
        bottom: 8rem;
        position: relative;

        // Kannada Styling
        .vision-paragraph-kn {
            width: fit-content;
            font-size: 1rem;
        }
            
        .vision-paragraph {
            width: fit-content;
            font-size: large;
        }
    }
}

#team {
    margin: 2.5rem 0;
    margin-left: 16rem;
    width: 53rem;
    scroll-margin: 6rem;
    padding: 2rem 2rem;
    background-color: #fbfbfb;
    
    .management-team {
        position: relative;
        text-align: center;
        width: fit-content;
        justify-content: space-around;
        padding: 2rem;
        height: fit-content;
        border: 0.2em solid #e0efea;
        border-radius: 0.2rem;
        margin: 0 auto;
            
        .management-our-team {
            .person-name {
                margin: 0;
            }
        }

        .suma.person-name {
            position: relative;
            top: 1.8rem;
        }

        .suma {
            position: relative;
            top: 2rem;
        }
    }

    .advisors-team {
        position: relative;
        text-align: center;
        width: fit-content;
        justify-content: space-around;
        padding: 2rem;
        height: fit-content;
        border: 0.2em solid #e0efea;
        border-radius: 0.2rem;
        margin: 0 auto;
        margin-top: 1rem;

        // Kannada Styling
        .advisors-card-kn {
            margin-top: 1rem;
            margin-left: 1rem;
            height: 30rem;
            font-size:0.8rem;
        }

        .advisors-card {
            margin-top: 1rem;
            margin-left: 1rem;
            height: 30rem;
        }
        
        .advisors-pic {
            border-radius: 50%;
            border: 0.1em solid #e2e8d5;
        }
    }
}

#legal {
    width: 55rem;
    height: 43rem;
    margin-top: 5rem;
    margin-left: 15rem;
    scroll-margin: 6rem;
    background-color: $col-shade-green;
    color: white;
    padding-left: 3rem;

    .legal-title {
        padding-top: 2rem;
        margin-top: 0;
    }

    .accept-image {
        position: relative;
        bottom: 4rem;
        height: 6rem;
        left: 45rem;
    }

    .legal-tab {
        position: relative;
        bottom: 7rem;
        
        .ant-tabs-tab,
        .ant-tabs-tab-active {
            width: fit-content;
            display: inline-flex;
            padding: 0.3rem 1rem;
            font-size: 1rem;
            border: 0.2rem solid #f5a31a;
            border-radius: 0.2rem;
        }

        .ant-tabs-nav {
            position: relative;
            top: 1rem;
        }

        .ant-tabs-tab {
            background-color: $col-shade-green !important;
        }

        .ant-tabs-tab-btn,
        .ant-tabs-tab-btn:active {
            color: white !important;
        }

        .ant-tabs-tab-active {
            background-color: #f5a31a !important;
        }

        .ant-tabs-content-holder {
            width: 48rem;
            height: fit-content;
            position: relative;
            border-radius: 0.3rem;
            background-color: #339273;

            ul {
                list-style-position: outside;
                padding-left: 2em;
                
                li {
                    padding: 2em;
                    padding-bottom: 0;
                    color: white;
                }
            }

            .read-more-button {
                background-color: white;
                color: $col-shade-green;
                margin: 0 4.5rem;
                margin-bottom: 2rem;
            }
        }
    }
}

#contactUs {
    margin-top: 6rem;
    margin-left: 16rem;
    scroll-margin: 6rem;
    
    .contact-us-info {
        font-size: large;

        .anticon {
            font-size: x-large;
            color: #f5a31a;
            padding: 1rem 1rem;
        }
    }

    .write-feedback {
        background-color: #fbfbfb;
        padding: 1rem;
        margin-bottom: 2rem;

        .feedback-form {
            padding: 1.5rem;
        }
    }
}
