$col-shade-green: #12805C;

.col-green {
    color: $col-shade-green !important;
}

#home {
    background: url('../static/assets/Vikasbandhu_1810801264_1920x1080pxl.jpg');
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-origin: padding-box;
    scroll-margin: 13vh;
    z-index: 1;
    opacity: 1;

    .home-content-wrapper {
        position: relative;
        top: 13vh;
        height: 100vh;
        
        .home-content {
            position: relative;
            left: 5vw;
            top: 5vh;
            width: fit-content;
            height: fit-content;
            padding: 2vw;
            -webkit-backdrop-filter: blur(1.25em);
            backdrop-filter: blur(1.25em);
            border-radius: 0.5em;
            background-color: rgba($color: #000000, $alpha: 0.2);
    
            .logo {
                border-radius: 0.5em;
            }
            
            .home-paragraph {
                margin-top: 4vh;
    
                .margin-none {
                    margin: 0;
                }
            }
    
            .explore-vb-btn {
                background-color: #f5a31a !important;
                border-color: #f5a31a !important;
                border-radius: 3px;
                margin: 2vh 0;
            }
        }
    }
}

.fixed-landing-page-banner {
    float: left;
    position: sticky;
    top: 13vh;
    opacity: 1;
    width: 17.2vw;
}

.fixed-card-join {
    position: sticky;
    float: right;
    top: 33vh;
    opacity: 1;

    .join-us {
        width: 18vw;
        height: fit-content;
        background-color: white;
        border-radius: 3px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        opacity: 1;
    
        .fixed-title {
            font-size: 2vw;
        }
    }
}

#aim {
    scroll-margin: 13vh;

    .aim-title {
        padding-top: 6vh;
        font-size: 3vw;
        margin-left: 20vw;
    }

    .handshake-image {
        float: right;
        position: relative;
        bottom: 10vh;
        left: 2vw;
    }
    
    .aim-card-row {
        padding-top: 6vh;
        padding-left: 1.75vw;

        .aim-card {
            background-color: $col-shade-green;
            width: 15vw;
            border-radius: 3px;
            height: 15vw;
            display: inline-flex;
            margin: 2vh auto;
            text-align: center;
            font-size: 1.2vw;
            line-height: 1;
            
            .hex1 {
                width: 0;
                margin: 0 auto;
                // margin-top: 1em;
                border-bottom: 2vw solid #32886C;
                border-left: 3vw solid transparent;
                border-right: 3vw solid transparent;
            }
            
            .hex2 {
                margin: 0 auto;
                width: 6vw;
                height: 3vw;
                background-color: #32886C;

                .icon-inside-hex {
                    width: 3.5vw;
                }
            }
            
            .hex3 {
                margin: 0 auto;
                // margin-bottom: 1em;
                width: 0;
                border-top: 2vw solid #32886C;
                border-left: 3vw solid transparent;
                border-right: 3vw solid transparent;
            }
        }
    }
}

#ecosystem {
    scroll-margin: 13vh;

    .tractor-image {
        padding-top: 6vh;
        width: 62vw;
        margin: 0 auto;
    }
    
    .ecosystem-content {
        color: #12805C !important;
        background-color: #e0efea;
        width: 62vw;
        border-radius: 0.3em;
        height: fit-content;
        margin: 0 auto;
        margin-bottom: 2vh;
        padding-left: 2vw;

        .ecosystem-title {
            padding-top: 2vh;
            padding-right: 2vw;
            margin-top: 0;
            font-size: 2.35vw;
        }

        .bulletin-image {
            float: left;
            padding-top: 3vh;
        }

        .bulletin-image {
            padding: 0 1vw;
            background-color: #e2e8d5;
            border-radius: 3vw;
            margin-bottom: 3vh;

            img {
                width: 3vw;
                height: 3vw;
            }

            .first-bulletin-image {
                margin-top: 4vh;
            }

            .last-bulletin-image {
                margin-bottom: 4vh;
            }
        }

        .bulletin-text {
            padding-top: 2vh;
            padding-left: 1vw;
            font-size: 1.6vw;
        }

        .nature-image {
            float: right;
            position: relative;
            bottom: 30vh;
            right: 2vw;
        }
    }
}

#commodities {
    // position: relative;
    // top: 5em;
    margin-left: 20vw;
    scroll-margin: 13vh;
    
    .commodities-title {
        padding-top: 6vh;
        font-size: 3vw;
    }

    .commodities-paragraph {
        width: 60vw;
        font-size: large;
        line-height: 4vh;
    }

    .commodities-list {
        float: left;
        width: 12vw;
        margin-top: 8vh;
    }

    .commodities-name {
        font-size: large;
    }

    .commodities-image {
        width: 10vw;
        height: 10vw;
    }

    .wheat-image {
        margin: 4vh auto;
        width: 60vw;
    }
}

#users {
    scroll-margin: 13vh;
    
    .user-title {
        padding-top: 6vh;
        font-size: 3vw;
        margin-left: 20vw;
    }

    .user-column {
        margin-left: 4vw;
        .user-card {
            background-color: #e0efea;
            width: fit-content;
            height: fit-content;
            text-align: center;
        }
    }

    .transport-image {
        margin: 5vh 19vw;
        width: 60vw;
    }
}

#aboutUs {
    margin: 5vh 0;
    margin-left: 18vw;
    width: 62vw;
    height: fit-content;
    scroll-margin: 13vh;
    padding: 2vh 2vw;
    background-color: #fbfbfb;
    
    .about-us-title {
        padding-top: 4vh;
    }

    .outline-image {
        position: relative;
        bottom: 10vh;
        left: 45vw;
    }

    .outline-paragraph {
        position: relative;
        bottom: 25vh;
        font-size: large;
        width: 50vw;
    }

    .vision-card{
        width: fit-content;
        height: fit-content;
        bottom: 15vh;
        position: relative;
        background-color: #e0efea;
        text-align: center;

        .card-paragraph {
            width: 23vw;
            font-size: large;   
            margin: 0 auto;
        }
    }

    .vision-paragraph {
        width: fit-content;
        font-size: large;
    }

    .about-us-our-team {
        text-align: center;
        width: fit-content;
        padding: 4vh 0;
        margin: 4vh 0;
        height: fit-content;
        border: 0.2em solid #e0efea;
        border-radius: 3px;

        .our-team {
            margin-left: 4vw;        

            .person-name {
                margin: 0;
            }
        }

        .suma {
            padding-top: 8vh;
        }

    }
}

#legal {
    width: 62vw;
    margin: 10vh 0;
    margin-left: 18vw;
    height: fit-content;
    scroll-margin: 13vh;
    background-color: $col-shade-green;
    color: white;
    padding-left: 3vw;

    .legal-title {
        padding-top: 4vh;
        margin-top: 0;
    }

    .accept-image {
        position: relative;
        bottom: 10vh;
        left: 48vw;
    }

    .legal-tab {
        position: relative;
        bottom: 18vh;
        
        .ant-tabs-tab,
        .ant-tabs-tab-active {
            width: fit-content;
            display: inline-flex;
            padding: 1vh 2vw;
            border: 0.2em solid #f5a31a;
            border-radius: 3px;
        }

        .ant-tabs-nav {
            position: relative;
            top: 2.6vh;
        }

        .ant-tabs-tab {
            background-color: $col-shade-green !important;
        }

        .ant-tabs-tab-btn,
        .ant-tabs-tab-btn:active {
            color: white !important;
        }

        .ant-tabs-tab-active {
            background-color: #f5a31a !important;
        }

        .ant-tabs-content-holder {
            width: 55vw;
            height: fit-content;
            position: relative;
            border-radius: 5px;
            background-color: #339273;

            ul {
                list-style-position: outside;
                padding-left: 2vw;
                
                li {
                    padding: 4vh;
                    padding-bottom: 0;
                    color: white;
                }
            }

            .read-more-button {
                background-color: white;
                color: $col-shade-green;
                margin-left: 6vw;
                margin-bottom: 4vh;
            }
        }
    }
}

#contactUs {
    margin-top: 10vh;
    margin-left: 18vw;
    scroll-margin: 13vh;
    
    .contact-us-info {
        font-size: large;
    
        .anticon {
            font-size: x-large;
            color: #f5a31a;
            padding: 0 1vw;
        }
    }

    .write-feedback {
        background-color: #fbfbfb;
        padding: 1vw;
        margin-bottom: 4vh;

        .feedback-form {
            padding: 2vw;
        }
    }
}