.seller-dashboard-container {
    .dashboard-tile {
        height: 260px;
        text-align: center;
        background: #C4C4C4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}