$col-shade-green: #12805c;

.seller-ui-app {
    .landing-page-header-bar {
        position: unset;

        .header-breadcrumb {
            display: none;
        }
    }

    .seller-ui-dashboard {
        padding: 2em;

        .seller-banner {
            width: 100%;
        }
    }
}

.custom-view-crop-photos {
    .ant-drawer-header {
        background-color: $col-shade-green;

        .ant-drawer-title {
            color: white;
        }

        .anticon-close {
            color: white;
        }
    }

    .ant-drawer-body {
        padding: 20px;
        overflow-y: scroll;
        overflow-x: unset;
    }
}

.partial-match {
    font-size: smaller;
    background-color: #f5a31a;
    color: white !important;
    border-radius: 0.5em;
    padding: 0 0.3em;
}

.full-match {
    font-size: smaller;
    background-color: $col-shade-green;
    color: white !important;
    border-radius: 0.5em;
    padding: 0 0.3em;
}

.specifications {
    border: 0.1rem solid lightgrey;
    padding: 1rem;
    border-radius: 0.25rem;
}
