$col-shade-green: #12805C;

.seller-ui-app {
    .seller-ui-dashboard {
      padding: 2em;
    }
  }
  
.custom-view-crop-photos {

    .ant-drawer-header {
        background-color: $col-shade-green;
        
        .ant-drawer-title {
            color: white;
        }

        .anticon-close {
            color: white;
        }
    }

    .ant-drawer-body {
        padding: 20px;
        overflow-y: scroll;
        overflow-x: unset;
    }
}

.partial-match {
    font-size: smaller;
    background-color: #f5a31a;
    color: white !important;
    border-radius: 0.5em;
    padding: 0 0.3em;
}

.full-match {
    font-size: smaller;
    background-color: $col-shade-green;
    color: white !important;
    border-radius: 0.5em;
    padding: 0 0.3em;
}

td.seller-quantity-remaining {
    padding-left: 0 !important;
    padding-right: 0 !important;

    .custom-progress-bar {
        width: 5em;
    }
}