html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-content {
  width: 100%;
  height: calc(100% - 70px);
}

.main-content-banner {
  position: fixed;
  bottom: 10em;
  left: 5em;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 50%;
  padding: 2em;
}

.text-align-center {
  text-align: center;
}

/*flex-classes*/
.display-flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.display-flex-row.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.display-flex-row.align-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.display-flex-row.justify-content-space-bet {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*Margin and padding classes*/
.margin-l-r-1em {
  margin-left: 1em !important;
  margin-right: 1em !important;
}

.margin-t-1em {
  margin-top: 1em;
}

.margin-unset {
  margin: unset !important;
}

.margin-b-2em {
  margin-bottom: 2em;
}

.terms-and-conditions {
  margin: 0 0.3em;
}

/*width classes*/
.width-full {
  width: 100%;
}

.wid150 {
  width: 150px;
}

/**/
.height-full {
  height: 100%;
}

/*border radius*/
.vikas-btn-radius {
  border: none;
  margin: 1rem;
}

/* Color classes*/
.col-white {
  color: white !important;
}

.color-green-shade {
  border-color: #12805C !important;
  color: #12805C !important;
}

.col-backgroud-green {
  background-color: #12805C !important;
  border-color: #12805C !important;
}

.font-size-small {
  font-size: small;
}

.required-form-field::before {
  content: "* ";
  color: red;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.margin-zero {
  margin: 0 !important;
}

.display-none {
  display: none !important;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.new-landing-page {
  background-image: url("../src/static/assets/landingPageImage.png");
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.new-landing-page .new-landing-page-logo {
  z-index: 1;
  margin-top: 1vh;
  height: 12vh;
  width: 12vh;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  left: 48vw;
}

.new-landing-page .landing-title {
  color: #ffffff;
  width: 'fit-content';
  position: relative;
  font-weight: 300;
  font-size: 3rem;
  text-align: center;
}

.new-landing-page .new-landing-page-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: right;
  position: relative;
  bottom: 20vh;
}

.new-landing-page .landing-footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.28)), color-stop(100%, rgba(0, 0, 0, 0.53)), to(rgba(0, 0, 0, 0.62)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.53) 100%, rgba(0, 0, 0, 0.62) 100%);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  text-align: center;
  height: 30vh;
}

.new-landing-page .landing-footer .footer-text {
  color: #ffffff;
  font-weight: 300;
  width: 50vw;
  text-align: center;
  margin: 0 auto;
  margin-top: 1vh;
}

.new-landing-page .landing-footer .footer-button-text {
  color: #ffffff;
  font-weight: 300;
  margin: 1vh;
}

@media screen and (max-width: 767px) {
  .new-landing-page .landing-title {
    font-size: 1.9rem;
    left: 4vw;
    bottom: 1.3vh;
  }
  .new-landing-page .footer-text {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=App.css.map */