$col-shade-green: #12805C;

html {
    scroll-behavior: smooth;
    width: 100%;
}

.main-content {
    width: 100%;
    height: calc(100% - 70px);
}

.main-content-banner {
    position: fixed;
    bottom: 10em;
    left: 5em;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 50%;
    padding: 2em;
}

.text-align-center {
    text-align: center;
}

/*flex-classes*/
.display-flex-row {
    display: flex;
    flex-direction: row;

    &.align-center {
        align-items: center;
    }

    &.align-flex-end {
        align-items: flex-end;
    }

    &.justify-content-space-bet {
        justify-content: space-between;
    }
}

/*Margin and padding classes*/
.margin-l-r-1em {
    margin-left: 1em !important;
    margin-right: 1em !important;
}

.margin-t-1em {
    margin-top: 1em;
}

.margin-unset {
    margin: unset !important;
}

.margin-b-2em {
    margin-bottom: 2em;
}

.terms-and-conditions {
    margin: 0 0.3em;
}

/*width classes*/
.width-full {
    width: 100%
}
.wid150{
    width: 150px;
}

/**/
.height-full {
    height: 100%;
}

/*border radius*/
.vikas-btn-radius {
    border-radius: 3px
}

/* Color classes*/
.col-white {
    color: white !important;
}

.color-green-shade {
    border-color: $col-shade-green !important;
    color: $col-shade-green !important;
}

.col-backgroud-green {
    background-color: $col-shade-green !important;
    border-color: $col-shade-green !important;
}

.font-size-small {
    font-size: small;
}

.required-form-field::before {
    content: "* ";
    color: red;
    width: fit-content;
}