.app-footer-container {
    width: 100%;
    background: #102E44;
    height: 100px;
    top:1050px;
    z-index:1;
    position: relative;
    color: #ffffff;
    padding: 0 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;

    .phone {
        padding-right: 80px;
    }

    .applied-for {
        margin-top: 30px;
    }

    .powered-by-text {
        padding: 0 1em;
        margin: unset;
    }
}

//responsive
@media screen and (max-width: 767px) {
    .app-footer-container {
        width: 100vw;
        background: #102E44;
        flex-direction: column;
        font-size: 1rem;
        height:16.875rem;
        top:600px;

        .height-full {
            width: 100vw;
            padding-left: 2rem;
            margin: 0 -14px;
            height: fit-content;
            padding-top: 1rem;
        }
.applied-for{
    height:12.5rem;
}
.footer-logo{
    width:100%;
    background: #102E44;
        .image {
            width: 55vw;
            height: 20vw;
        }}
    }
}
